<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/new.css' />


  </head>


  <body >
    
    <div class="nav">
        
      <ul>
         <li><a href="/shop">Shop</a></li>
         <li><a href="/login">Login</a></li>
         <li><a href="/signup">Signup</a></li>
         <li><a href="/admin">Admin</a></li>

      </ul>
      </div>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <main >
        <main>
            <% if (prods.length > 0) { %>
                <div class="grid"  style="height:200px; width:400px ;border: 2px red solid">
                    <% for (let product of prods) { %>
                        <article class="card product-item">
                            <header class="card__header">
                                <h1 class="product__title"><%= product.title %></h1>
                            </header>
                            <div class="card__image">
                                <img src="/<%= product.image %>"
                                    alt="<%= product.title %>">
                            </div>
                            <div class="card__content">
                                <h2 class="product__price"> <%= product.price %></h2>
                                <p class="product__description"><%= product.description %></p>
                            </div>
                            <div class="card__actions">
                                <a href="/admin/edit-product" class="btn">Edit</a>
                                  <input type="hidden" value="<%= product._id %>" name="productId">
                                    <button class="btn" type="button" onclick="deleteProduct(this)">Delete</button>

                            </div>
                  
                        </article>
                    <% } %>
                </div>
               
            <% } else { %>
                <h1>No Products Found!</h1>
            <% } %>
        </main>

  </body>

</html>
